*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* DA sistemare: creare classi utility per le card e per gli
spazi/font-size tra paragrafi e titoli */

body{
    font-family: Arial, Helvetica, sans-serif;
}

section{
    padding-bottom:3rem;
    padding-top: 3rem;
}

.container{
    width: 100%; 
    max-width: 990px;
    padding: 0 30px;
}

:root{
    --hero-color:#0084FD;
    --main-color:#9792E4;
    --paragraph-spacing-mb:20px;
    --cards-inside-padding:20px 20px 0 20px;
}

nav{
    width: 100%;
    background-color:#0084FD ;
}

.nav-bar{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar i{
    font-size: 1.5rem;
    color: white;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    padding-top: 20px;
}

.col{
/*     padding: 0 30px;
 */    flex-basis: 100%;
}

.col-card{
    padding: var(--cards-inside-padding);
    height: 100%;
    width: 100%;
    border-radius:25px;
    background-color: #B5DDFF;
}

.col-card h3{
    font-size: 1.3rem;
    color: var(--hero-color);
}

.p-style{
    line-height: 1.6rem;
}
.col-card .p-style{
    color: rgb(82, 82, 82);
    font-weight: 600;
}

.col-card h3, .col-card p, .col-card .btn-cnt{
    padding-bottom: var(--paragraph-spacing-mb);
}

.btn-cnt{
    text-align: center;
}

.col-card .btn{
    border-radius: 30px;
    padding: 10px 50px;
    font-size: 1.2rem;
    color: white;
    display: inline-block;
    background-color: var(--hero-color);
}

.col-card img{
    display: block;
    width: 100%;
}

.col-1-3{
    text-align: center;
}

.col-card h3 i{
    display: block;
    font-size: 5rem;
}


/* PRIMA SEZIONE */

.strategic-plan-sct{
    color: white;
    background-color: var(--main-color);

}

.strategic-plan-sct img{
    width: 100%;
    display: block;
    padding-top: var(--paragraph-spacing-mb);
}

.strategic-plan-sct h2{
    font-size:1.8rem;
    padding: 2.4rem 0;
}

.strategic-plan-sct p{
    padding-bottom: var(--paragraph-spacing-mb);
}

.strategic-plan-card{
    padding: var(--cards-inside-padding);
    color: black;
    text-align: center;
    background-color: white;
    border-radius: 40px;  
}



.strategic-plan-card img{
    padding-top: var(--paragraph-spacing-mb);
    display: block;
    width: 100%;
}

.strategic-plan-card h3,.strategic-plan-card p{
    padding-top: var(--paragraph-spacing-mb);
}

.arrow-btn{
    padding-bottom: var(--paragraph-spacing-mb);
    display: flex;
    justify-content: center;
}

.strategic-plan-card i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: var(--main-color);
    font-size: 1.2rem;
    border-radius: 50%;
}


.testimonial-sct{
    text-align: center;
}

.testimonial-sct h4{
    font-weight: 100;
    padding-bottom: 2rem;
}
.testimonial-sct h2{
    font-size: 1.8rem;
    color: var(--main-color);
    padding-bottom: 2rem;
}

.testimonial-sct .p-style{
    font-size: 1.2rem;
    padding-bottom: 2rem;
    padding-top: 1.3rem;
}

.testimonial-card{
    padding: var(--cards-inside-padding);
    color: white;
    text-align: center;
    background-color: var(--main-color);
    border-radius: 40px;  
}

.testimonial-card img{
    margin: auto;
    max-width: 250px;
    object-fit: cover;
    display: block;
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 100%;
}

.testimonial-card h3{
    padding-bottom: 2rem;
}



.benefit-sct{
    color: white;
    background-color: var(--main-color);
}
.benefit-sct h3{
    font-size: 1.8rem;

}

.benefit-card h3, .benefit-card h4{
    color: var(--main-color);
}

.benefit-card{
    border-radius: 30px ;
    background-color: white;
    color: black;
    padding: var(--cards-inside-padding);
    padding-bottom: 20px;
}

.benefit-card h3{
    padding-bottom: 1.5rem;
    font-size: 1.8rem;
}

.benefit-card h4{
    padding-bottom: 1.5rem;
    font-size: 1.4rem;
}

.benefit-card p{
    padding-bottom: 1.5rem;
}

.benefit-card .btn{
    color: white;
    border-radius: 30px;
    padding: 10px 50px;
    font-size: 1.2rem;
    display: inline-block;
    background-color: var(--main-color);
    
}



/* @media screen and (min-width: 578px) {
    .row{
        flex-direction: row;
    }
    
}


@media screen and (min-width: 558px) {
    .col-2-3{
        flex-basis: calc((100% / 3) * 2 - 2rem);
    }
    
    .col-1-3{
        flex-basis: calc((100% / 3) - 2rem);
    }
} */